body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100vh;
}

nav{
    display: flex;
    justify-content: space-around;
    width: 18%;
    margin-left: auto;
    padding: 20px;
    
}

nav a{
    text-decoration-line: none;
    font: bold;
}

div.form{
    text-align: center;
    margin-top: 2em;
}
div .filling .text-input{
 padding: 13px;
 width: 40%;
 border-radius: 80px;
 
}

.text-input{
    outline: none;
    border: 0.5px solid rgb(172, 169, 169);
}

div.button{
    padding-top: 30px;
    display: flex;
    justify-content: center;
    gap: 10px;
    
    
}
button{
    padding: 13px;
    background-color: rgba(222, 224, 228, 0.5);
    border: none;
}

div.language{
    padding-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    width: 10px auto;
    font-size: 14px;
   
}

div.language a{
    text-decoration: none;
}

footer{
    position: absolute;
    bottom: 0px ;
    /* padding: 0px 10px 0px 15px; */
    width: 100vw;
    /* border: 2px solid green; */
}
div.country{
    /* display: block; */
    height: 55px;
    background-color: rgb(231, 228, 228);
    display: flex;
    align-items: center;
    font-size: 17px;
    border-bottom: 1px solid rgba(0, 0, 0, .3);
    color: rgba(129, 126, 126, 1);
    padding-left: 20px;
    font-family: sans-serif;
}

div.sec-foot{
    display: flex;
    justify-content: space-between;
    height: 55px;
    background-color: rgb(231, 228, 228);
    align-items: center;
    font-size: 17px;  
       
}
div.sec-foot a{
    text-decoration: none;
    font-family: sans-serif;
    color:rgba(129, 126, 126, 1); 
}
div.items1{
    padding-left: 20px;
}
div.items3{
    padding-right: 20px;
}
div.items1, .items3{
    display: flex;
    gap: 20px;
}
div.sec-foot a:hover{
    text-decoration: underline;
}


@media screen and (max-width: 1000px) {
    
    div.items1{order: 2;}
    div.items2 {order: 1;
    
    }
    div.items3{order: 3;}
    div.sec-foot{
        flex-direction: column;
    }
}

@media screen and (max-width: 680px){
    div .filling .text-input{
        width: 80%;
    }
    nav a.a2{
        display: none;
    }
}
